/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-size: 1.2rem;
  font-weight: 150;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: rgb(249, 246, 246);
  padding: 24px;
}

/* -- Main docs -- */
#main-docs {
}

#api-path {
  font-size: 150%;
  font-weight: bold;
}

/* -- Endpoints container -- */
#documentation {
  display: flex;
  flex-direction: column;
}

/* -- Endpoints -- */
.endpoint {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Seul le premier enfant */
.endpoint > *:first-child {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}

.method {
  color: white;

  padding: 0.5em;
  border-radius: 5px;
}

.get {
  background-color: #007bff;
}

.post {
  background-color: #28a745;
}

.delete {
  background-color: #dc3545;
}

.put {
  background-color: #ffc107;
}

.path {
  font-weight: bold;
}
